<!DOCTYPE html>
<html lang="en">
<head>
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="pandoc">
$for(author)$
  <meta name="author" content="$author$">
$endfor$
  <link rel="canonical" href="https://hamberg.no/gtd">
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css">
$endfor$
$if(math)$
  $math$
$endif$
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
  <style type="text/css">
  body {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: -0.0025em;
  }
  </style>
  <script type="text/javascript">
    window.___gcfg = {lang: 'en-GB'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-304186-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h1 class="mainTitle">$title$</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
      <h2>Table of contents</h2>
      $toc$
    </div>
    <div class="col-md-4 col-sm-6 hidden-xs">
        <img src="/gtd/images/slinky.svg" alt="welcome!">
    </div>
  </div>
</div>
<div style="text-align: center;">
  <style>
  .gtd-guide-responsive { width: 320px; height: 50px; }
  @media(min-width: 500px) { .gtd-guide-responsive { width: 468px; height: 60px; } }
  @media(min-width: 800px) { .gtd-guide-responsive { width: 728px; height: 90px; } }
  </style>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- GTD Guide – responsive -->
  <ins class="adsbygoogle gtd-guide-responsive"
       style="display:inline-block"
       data-ad-client="ca-pub-8254729042256446"
       data-ad-slot="8298527015"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12" style="hyphens: auto;">
        $body$
        $for(include-after)$
        $include-after$
        $endfor$
    </div>
  </div>
</div>
<div style="text-align: center;">
  <style>
  .gtd-guide-responsive { width: 320px; height: 50px; }
  @media(min-width: 500px) { .gtd-guide-responsive { width: 468px; height: 60px; } }
  @media(min-width: 800px) { .gtd-guide-responsive { width: 728px; height: 90px; } }
  </style>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- GTD Guide – responsive -->
  <ins class="adsbygoogle gtd-guide-responsive"
       style="display:inline-block"
       data-ad-client="ca-pub-8254729042256446"
       data-ad-slot="8298527015"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<script data-goatcounter="https://hamberg_no.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
