<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="generator" content="pandoc" />
$for(author)$
  <meta name="author" content="$author$" />
$endfor$
$if(date)$
  <meta name="date" content="$date$" />
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
  <style type="text/css">
  body {
    font-family: 'Droid Serif', serif;
  }
  </style>
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
$if(title)$
<div class="topheader">$title$</div>
$endif$
<div class="header">
<div class="headerimg">
	<img src="images/slinky.png" alt="welcome!" />
</div>
<div class="toc">
<h2>Table of contents</h2>
$if(toc)$
$toc$
$endif$
</div>
</div>
$body$
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
