h1.mainTitle {
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  text-align: start;
}

img {
  max-width: 100%;
  height: auto;
  float: right;
}

div.fullwidth img {
  float: none;
}

p.caption {
  font-style: italic;
  text-align: center;
}

span.calendar {
  background-color: #ffd0d0;
  padding: 0 0.2em 0 0.2em;
}

span.listname {
  background-color: #ffd0ff;
  padding: 0 0.2em 0 0.2em;
}

span.context {
  background-color: #d0ffd0;
  padding: 0 0.2em 0 0.2em;
}

span.action {
  padding: 0 0.2em 0 0.2em;
  background-color: #d0d0ff;
}

blockquote {
    background-color: #e0e0e0;
    border-radius: 0.5em;
    width: 70%;
    margin: auto;
}

blockquote p {
    font-style: italic;
    padding: 0.5em 1em;
}
